html,body{
  background-color: #98FF98;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.header-img{
    height:304px;
    width:301px;
    height: 100vh;
    position: absolute;
    top: 30%;
    left: 50%;
    max-width: 100%; 
    height: auto; 
}
.app-name
{
  text-align: center;
}
.flex-container {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
}

